// ================================================================================================
// 1rem
// ================================================================================================
$one-rem: 16 !default;
$one-rem-in-pixels: #{$one-rem}px !default;


// ================================================================================================
// sizes
// ================================================================================================
$max: 2560px !default;
$limiter: 1580px !default;
